# Уровени логирования
LOGGING_STDOUT_LEVEL=INFO
LOGGING_FILE_LEVEL=INFO

# Настройки PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# Порт веб приложеничя
APP_PORT=8000
ADMIN_PASSWORD=admin

# Ключ шифрования
CYPHER_KEY=